/* login.css */

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }

header {
    padding: 20px;
    text-align: center;
}

.login {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
    color: #fff;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #f7c948;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

.form-group input:focus {
    border-color: #f7c948;
    outline: none;
    background-color: #333;
}

.form-group .btn {
    background-color: #f7c948;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .btn:hover {
    background-color: #ffba00;
    color: #fff;
}
